body {
  background-color: rgb(92, 189, 201);
}
.mainFont {
  color: white;
  font-size: calc(5rem + 5vw);
  white-space: nowrap;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}
.mainFont2 {
  color: white;
  font-size: calc(3.50rem + 2vw);
  font-style: bold;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}
.subFont {
  color: navy;
  font-size: calc(2rem + 1vw);
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: white;
}
.flex-container {
	display: flex;
	justify-content: space-between; 
	align-items: center;            
	white-space: nowrap;           
	width: 100%;                    
}

.nowrap-column {
    white-space: nowrap;
}
.faq-button{
	font-size: calc(2rem + 0.30vw);
	padding: calc(1rem + 0.30vw) calc(2rem + 0.30vw);
	border: none;
	background-color: navy;
}
.med-button{
	font-size: 2vw;
	padding: 1vw 2vw;
	border: none;
	white-space: nowrap;            
	background-color: navy;
}
.custom-button{
	font-size: 0.50vw;
	padding: 0.30rem 1rem;
	border: none;
	white-space: nowrap;            
	background-color: navy;
}
.custom-height {
        height: 2vh; 
}
.add-height{
	height: 5vh;
}
.add-width{
	width: 10vw; 
}
.col-scaled {
    transform: scale(4) translate(+6%, +0%);
    transform-origin: top left;
}

@media (max-width: 800px) {
	.col-scaled {
	  transform: scale(3) translate(+10%, +0%); 
	  transform-origin: top left;
	}
}
@media (min-width: 1250px) {
	.col-scaled {
	  transform: scale(6) translate(+4.50%, +0%); 
	  transform-origin: top left;
	}
}
.col-custom {
    display: flex;
    justify-content: center; 
    align-items: center;     
  }
 .form-check-input.form-control-lg {
    width: calc(7rem + 1vw); 
    height: calc(4rem + 0.50vw); 
	transform: scale(1) translate(+10%, +0%);
	transform-origin: center;
  }
  .custom-table-bg {
    background-color: rgb(31, 199, 221); 
  }