body {
  background-color: powderblue;
}
mainFont {
  color: blue;
  font-size: 50px;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: white;
}
p {
  color: red;
}
.custom-table {
            table-layout: auto; /* Use auto layout to adjust based on content */
            width: auto; /* Set width to auto to prevent stretching */
        }