<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="css/mainStyle" />
                <add value="login.html" />
                <add value="js/scripts.js" />
                <add value="main.html" />
                <add value="settings.html" />
                <add value="faq.html" />
                <add value="MainPageStyle.css" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
